@use 'scss/utils/containers' as containers;
@use 'scss/variables/fontSizes' as fontSizes;
@use 'scss/variables/mediaQuerySizes' as mediaQuerySizes;

.container {
  background-color: #cccccc;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  padding: 10px;
  @include containers.set-width(300px);
}

.counterNumber {
  background-color: #000;
  border-radius: 5px;
  color: #ff0000;
  font-size: fontSizes.$xlarge;
  margin: 10px auto;
  padding: 5px;
  text-align: center;
  top: 20px;
  @include containers.set-width(70%);
}

.singleChangers,
.amountChangers {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 5px auto;
  @include containers.set-width(200px);
}

.button {
  border-radius: 10%;
  cursor: pointer;
  font-size: fontSizes.$xlarge;
  margin: auto 5px;
  padding: 5px;
  @include containers.set-size(40px);
}

.amountInput {
  font-size: fontSizes.$large;
  max-width: 70%;
  padding: 2px 5px;
}

@media #{mediaQuerySizes.$small-mobile} {
  .container {
    @include containers.set-width(95%);
  }
}
