@use 'scss/utils/containers' as containers;
@use 'scss/variables/fontSizes' as fontSizes;
@use 'scss/variables/mediaQuerySizes' as mediaQuerySizes;

.container {
  @include containers.set-height(calc(100vh - 64px));

  .responsiveContainer {
    @include containers.responsive-container;
  }

  .title {
    padding: 50px;
  }

  @media #{mediaQuerySizes.$mobile} {
    background-color: #d1d5db;
  }

  @media #{mediaQuerySizes.$small-mobile} {
    background-color: #86efac;
  }

  @media #{mediaQuerySizes.$tablet} {
    background-color: #a78bfa;
  }

  @media #{mediaQuerySizes.$desktop} {
    background-color: #a5b4fc;
  }
}
