@use 'scss/utils/containers' as containers;

.header {
  @include containers.set-height(64px);
  @include containers.full-container-width;
}

.body {
  background: #fafafa;
  min-height: calc(100vh - 64px);
  padding-bottom: 50px;
  @include containers.full-container-width;

  .responsiveContainer {
    @include containers.responsive-container;
  }
}
