@use 'scss/utils/containers' as containers;
@use 'scss/variables/fontSizes' as fontSizes;
@use 'scss/variables/mediaQuerySizes' as mediaQuerySizes;

@mixin todoContainer {
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  margin: 2px auto;
  padding: 10px;
  @include containers.full-container-width();
}

.todoSolved {
  background-color: #99ff99;
  @include todoContainer;
}

.todoUnsolved {
  background-color: #ff9999;
  @include todoContainer;
}

.text {
  flex-grow: 1;
}

.controlsContainer {
  align-items: center;
  display: flex;
  flex-direction: row;
  @include containers.set-width(130px);
}

.checkboxContainer {
  margin: 0;
  @include containers.set-width(45px);
}

.buttonsContainer {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  @include containers.set-width(90px);
}

.checkbox {
  margin: 0px;
  padding: 1px;
}

.button {
  border-radius: 10%;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  font-size: fontSizes.$medium;
  font-weight: bold;
  margin: 2px;
  @include containers.set-size(26px);
}
