// ALL PAGE STYLES.

// Add here some generic styles.
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
}
