@use 'scss/variables/colors' as colors;
@use 'scss/utils/containers' as containers;
@use 'scss/variables/fontSizes' as fontSizes;
@use 'scss/variables/mediaQuerySizes' as mediaQuerySizes;

.container {
  border: 1px solid colors.$background;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  padding: 10px;
  @include containers.set-width(300px);

  .title {
    font-size: fontSizes.$xlarge;
    margin: 10px;
    text-align: center;
  }

  .form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0;
    @include containers.set-width(100%);

    .input {
      @include containers.set-width(80%);
    }

    .addButton {
      @include containers.set-width(15%);
    }
  }

  .lsButton {
    margin: 10px 0;
  }
}
